<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>색맹 시뮬레이션</title>
</head>
<body>
    <h1>색맹 시뮬레이션</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label>색각 이상 유형 선택:</label>
        <select name="colorBlindType">
            <option value="PROTANOPIA">Protanopia</option>
            <option value="DEUTERANOPIA">Deuteranopia</option>
            <option value="TRITANOPIA">Tritanopia</option>
        </select>
        <br>
        <input type="file" name="file">
        <br>
        <input type="submit" value="업로드">
    </form>
</body>
</html>