<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Color Blindness Simulation</title>
</head>
<body>
    <h1>색각 필터 웹 동작 테스트</h1>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <label for="colorBlindType">색각 이상 유형을 선택하시오:</label>
        <select name="colorBlindType" id="colorBlindType">
            <option value="PROTANOPIA">Protanopia</option>
            <option value="DEUTERANOPIA">Deuteranopia</option>
        </select>
        <br><br>
        <input type="file" name="file" id="file" accept=".png, .jpg, .jpeg, .gif">
        <br><br>
        <input type="submit" value="Upload and Simulate">
    </form>
    
    <h1>변환 결과</h1>
    
    <!-- 이미지를 표시할 위치에 아래와 같이 추가합니다. -->
    <img th:src="${imageUrl}" alt="Converted Image">
    
</body>
</html>
